/** FONTS **/
$primary-font: 'Jost', sans-serif;

/** COLORS **/
$dynamic-black: #1D1D1D;
$lynx-white: #F8F8F7;
$white: #FFFFFF;
$more-than-a-week: #8C8C8C;
$satic-pink: #FBE0DC;
$tulip: #FF868E;
$vaporwave-pool: #97EAB9;
$bread-butter: #FFD280;
